@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Add this new rule */
@layer base {
  body {
    @apply font-itim;
  }
}